html {
  scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: var(--primary-clr);
    background-color: var(--bgd-body-clr);
  }

  button {
    cursor: pointer;
  }