.advantages {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: var(--bgd-clr);
}

@media screen and (min-width: 768px) {
  .advantages {
    padding-top: 50px;
    padding-bottom: 85px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages {
    padding-top: 50px;
    padding-bottom: 51px;
  }
}

@media screen and (min-width: 768px) {
  .advantage-list {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    row-gap: 33px;
  }
}

@media screen and (min-width: 1200px) {
  .advantage-list {
    justify-content: center;
    gap: 88px;
    row-gap: 0;
  }
}

.advantage-item {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .advantage-item {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .advantage-item {
    position: relative;
  }
  .advantage-item:not(:last-child)::after {
    position: absolute;
    display: block;
    width: 124px;
    height: 0px;
    content: "";
    
    right: -85px;
    top: 50%;
    
    border: 1px solid rgba(255, 255, 255, 0.5);
    transform: rotate(90deg);
  }  
}

.advantage-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 22px;

  width: 62px;
  height: 62px;

  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 365px;
}

.advantage-img {
  width: 32px;
  height: 32px;
  fill: var(--brand-clr);
}

.advantage-subtitle {
  padding-bottom: 18px;

  font-weight: 600;
  font-size: 18px;
  line-height: 1.222;

  color: var(--secondary-clr);
}

.advantage-description {
  max-width: 308px;
  color: rgba(255, 255, 255, 0.7);
}