.hero-section {
  padding-bottom: 72px;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  background-image: linear-gradient(
      180deg,
      rgba(17, 17, 17, 0) 0%,
      rgba(17, 17, 17, 0.4) 100%
    ),
    url(/images/hero/hero-bg-mobile-1x.jpg);

  background-color: var(--primary-background-color);
  background-size: cover;
  margin: 0 auto;
  height: 621px;
  border-radius: 30px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero-container {
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(/images/hero/hero-bg-mobile@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero-container {
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(/images/hero/hero-bg-tablet-1x.jpg);
    height: 890px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 768px) and (min-resolution: 192dpi),
  screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-container {
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(/images/hero/hero-bg-table@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero-container {
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(/images/hero/hero-bg-desktop-1x.jpg);
    height: 600px;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 1200px) and (min-resolution: 192dpi),
  screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero-container {
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(/images/hero/hero-bg-desktop@2x.jpg);
  }
}

.hero-subtitle {
  text-align: start;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  color: var(--secondary-clr);
  margin-bottom: 32px;
  max-width: 280px;
}

@media screen and (max-width: 767px) {
  .hero-subtitle > br {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .hero-subtitle {
    font-size: 28px;
    line-height: 1.21;
    max-width: 484px;
  }
}

@media screen and (min-width: 768px) {
  .hero-buttons-wrapper {
    display: flex;
    align-items: baseline;
    gap: 153px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-buttons-wrapper {
    display: flex;
    align-items: baseline;
    gap: 590px;
  }
}

.hero-btn-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
  gap: 14px;
}

@media screen and (min-width: 768px) {
  .hero-btn-box {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 370px) {
  .hero-button {
    font-size: 12px;
    padding-right: 18px;
    padding-left: 18px;
  }
}

.hero-scroll-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  color: var(--secondary-clr);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .hero-scroll-btn {
    font-size: 14px;
    line-height: 1.29;
  }
}

.hero-scroll-icon {
  width: 28px;
  height: 28px;
  background-color: currentColor;
  border-radius: 50%;
  margin-left: 12px;
  fill: var(--brand-clr);
  padding: 6px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .hero-scroll-icon {
    width: 38px;
    height: 38px;
  }
}

.hero-scroll-icon:hover,
.hero-scroll-icon:focus {
  fill: var(--secondary-clr);
  background-color: currentColor;
}

.hero-scroll-btn:hover .hero-scroll-icon {
  color: var(--brand-clr);
  fill: var(--secondary-clr);
}
.hero-scroll-btn:focus .hero-scroll-icon {
  color: var(--brand-clr);
  fill: var(--secondary-clr);
}

.hero-scroll-btn:hover,
.hero-scroll-btn:focus {
  color: var(--brand-clr);
}
