.modal-buy-now {
  position: absolute;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 50%);

  max-width: 311px;
  width: 95%;

  background-color: var(--bgd-body-clr);
  border-radius: 15px;

  padding: 32px 24px;

  transition: transform 250ms linear;
}

@media screen and (min-width: 768px) {
  .modal-buy-now {
    max-width: 609px;
    height: 100%;
    max-height: 1059px;
    padding: 48px;
    overflow: auto;
  }
}

.backdrop.is-hidden .modal-buy-now {
  transform: scale(0);
}

.modal-buy-title {
  margin-bottom: 32px;
  text-align: center;
}

.modal-buy-close {
  position: absolute;
  top: 14px;
  right: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;

  border: none;
  background-color: transparent;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .modal-buy-close {
    top: 24px;
    right: 24px;
    width: 28px;
    height: 28px;
  }
}

.modal-close-icon {
  width: 24px;
  height: 24px;
  stroke: var(--primary-clr);

  transition: transform 250ms linear;
}

@media screen and (min-width: 768px) {
  .modal-close-icon {
    width: 28px;
    height: 28px;
  }
}

.modal-close-icon:hover,
.modal-close-icon:focus {
  stroke: var(--brand-clr);
  transform: scale(1.2);
}

.modal-buy-list > .slick-list > .slick-track {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 16px;
  gap: 17px;
}

@media screen and (min-width: 768px) {
  .modal-buy-list > .slick-list > .slick-track {
    margin-left: 0;
    gap: 16px;
  }
}

.modal-buy-list > .slick-dots {
  bottom: -32px;
}

@media screen and (min-width: 768px) {
  .modal-buy-list > .slick-dots {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

.modal-buy-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  padding-top: 32px;
  padding-right: 32px;
  padding-bottom: 28px;
  padding-left: 32px;

  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  background-color: var(--secondary-clr);
}

@media screen and (min-width: 768px) {
  .modal-buy-item {
    gap: 14px;
    padding-top: 24px;
    padding-right: 18px;
    padding-bottom: 18px;
    padding-left: 18px;
    transition: border-color 250ms linear, box-shadow 250ms linear;
  }
}

@media screen and (min-width: 768px) {
  .modal-buy-item:hover {
    border-color: var(--brand-clr);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
}

@media screen and (min-width: 768px) {
  .modal-buy-images {
    width: 120px;
    height: 107px;

    transition: transform 250ms linear;
  }
}

@media screen and (min-width: 768px) {
  .modal-buy-item:hover .modal-buy-images {
    transform: scale(1.2);
  }
}

.modal-form-buy {
  margin-top: 59px;
}

@media screen and (min-width: 768px) {
  .modal-form-buy {
    margin-top: 40px;
  }
}

.modal-buy-text {
  margin-left: auto;
  margin-right: auto;
  max-width: 96px;
  padding: 8px 29px;

  font-weight: 600;
  line-height: 1.2;

  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
  background: var(--bgd-body-clr);
}

.modal-form-wrap {
  display: flex;
  flex-direction: column;
}

.form-buy-label {
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: #000000;
}

@media screen and (min-width: 768px) {
  .form-buy-label {
    font-size: 14px;
    line-height: 1.29;
  }
}

.form-input-name-wrap {
  display: flex;
  flex-direction: column;
  gap: 14px;
  max-width: 263px;
  width: 100%;
  margin-bottom: 18px;
}

@media screen and (min-width: 768px) {
  .form-input-name-wrap {
    flex-direction: row;
    gap: 21px;
    max-width: 513px;
  }
}

.form-buy-input {
  width: 100%;
  height: 45px;

  border: 1.5px solid rgba(17, 17, 17, 0.05);
  filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
  border-radius: 8px;
  outline: none;
  background-color: var(--bgd-body-clr);

  padding-left: 18px;

  transition: border-color 250ms linear;
}

@media screen and (min-width: 768px) {
  .form-buy-input {
    padding-left: 24px;
    height: 66px;

    font-size: 18px;
    font-weight: 500;

    border-radius: 13px;
  }
}

.form-buy-input:focus {
  border-color: var(--brand-clr);
}

.form-buy-input::placeholder {
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
}

@media screen and (min-width: 768px) {
  .form-buy-input::placeholder {
    font-size: 18px;
    line-height: 1.2;
  }
}

.imput-useremail {
  margin-bottom: 18px;
}

.form-buy-phone {
  position: relative;
  margin-bottom: 18px;
}

.form-buy-input-phone {
  padding-left: 106px;
}

@media screen and (min-width: 768px) {
  .form-buy-input-phone {
    padding-left: 177px;
  }
}

.form-buy-input-card {
  padding-right: 50px;
}

.form-buy-icon-wrap {
  position: absolute;
  top: 50%;
  left: 18px;
  transform: translate(0, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;

  box-shadow: 1.5px 0px 0px rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 768px) {
  .form-buy-icon-wrap {
    left: 24px;
    gap: 18px;
    padding-right: 32px;
    padding-top: 5px;
    padding-bottom: 5px;

    box-shadow: 2.72246px 0px 0px rgba(0, 0, 0, 0.1);
  }
}

.form-buy-icon-phone {
  width: 24px;
  height: 18px;
}

@media screen and (min-width: 768px) {
  .form-buy-icon-phone {
    width: 32px;
    height: 24px;
  }
}

.form-buy-icon-text {
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .form-buy-icon-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
  }
}

.form-buy-card {
  position: relative;
  margin-bottom: 18px;
}

.form-buy-icon-card {
  position: absolute;
  top: 50%;
  right: 16px;
  width: 22px;
  height: 13px;
  transform: translate(0, -50%);
}

@media screen and (min-width: 768px) {
  .form-buy-icon-card {
    right: 14px;
    width: 30px;
    height: 18px;
  }
}

.form-buy-textarea {
  display: block;
  resize: none;
  width: 100%;
  height: 91px;

  border: 1.5px solid rgba(17, 17, 17, 0.05);
  filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
  border-radius: 8px;
  background-color: var(--bgd-body-clr);

  outline: none;
  padding: 14px 18px;
  margin-bottom: 18px;

  transition: border-color 250ms linear;
}

@media screen and (min-width: 768px) {
  .form-buy-textarea {
    height: 137px;
    padding: 22px 24px;

    font-size: 18px;

    border-radius: 13px;
  }
}

.form-buy-textarea::placeholder {
  line-height: 1.2;
  display: flex;
  letter-spacing: -0.02em;

  color: rgba(64, 64, 64, 0.3);
}

@media screen and (min-width: 768px) {
  .form-buy-textarea::placeholder {
    font-size: 18px;
  }
}

.form-buy-textarea:focus {
  border-color: var(--brand-clr);
}

.btn-modal-buy {
  padding: 12px 28px;
  background-color: var(--brand-clr);
  color: var(--backdrop-clr);
  border-radius: 100px;
  border: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;

  transition: background-color 250ms linear, color 250ms linear,
    transform 250ms linear;
}

@media screen and (min-width: 768px) {
  .btn-modal-buy {
    padding: 14px 40px;
  }
}

.btn-modal-buy:not([disabled]):hover {
  background-color: var(--btn-secondary-clr);
  color: var(--brand-clr);
  transform: scale(1.1);
}

.btn-modal-buy:not([disabled]) {
  background-color: var(--brand-clr);
  color: var(--secondary-clr);
}
