
.top-sellers .section-title {
  text-align: center;
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .top-sellers .section-title {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  .top-cellers-content {
    display: flex;
    flex-wrap: wrap;
  }
}

.sellers-decor.third-image {
  display: none;
}
@media screen and (min-width: 1200px) {
  .sellers-decor.third-image {
    display: block;
  }
}

.top-sellers-image {
  border-radius: 15px;
  transition: transform 250ms linear;
}

@media screen and (min-width: 768px) {
  .top-sellers-image:hover {
    transform: scale(1.15);
  }
}

.sellers-decor {
  display: inline-block;
  overflow: hidden;
  border-radius: 15px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .sellers-decor {
    width: calc((100% - 16px) / 2);
    margin-bottom: 32px;
  }

  .sellers-decor:not(:first-child) {
    margin-left: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .sellers-decor {
    max-width: calc((100% - 32px) / 3);
  }
}

.top-sellers-text-wrapper {
  max-width: 306px;
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .top-sellers-text-wrapper {
    order: 1;
    margin-right: auto;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .top-sellers-text-wrapper {
   max-width: 407px;
  }
}

@media screen and (min-width: 768px) {
  .top-sellers-button {
    order: 2;
    min-width: 162px;
    height: 50px;
    font-size: 18px;
  }
}

