.container-componets {
    padding: 72px 0;
}

@media screen and (min-width: 768px) {
    .container-componets {
        padding: 100px 0;
    }
}

@media screen and (min-width: 1200px) {
    .container-componets {
        padding: 128px 0;
    }
}

.container {
}
.section-title {
    max-width: 283px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
    .section-title {
        max-width: 411px;
        margin-bottom: 24px;
    }
}



.section-description {
    max-width: 283px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
    .section-description {
        max-width: 411px;
        margin-bottom: 50px;
    }
}

.component-list {
     display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
   
} 

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .component-list {
        gap: 32px;
     flex-direction: row;
    }
    
    .component-list li:nth-child(2) {
      order: 3;
    }
    
    .component-list li:nth-child(3) {
      order: 4;
    }
    
    .component-list li:nth-child(4) {
      order: 2;
    }  
  }
  

@media screen and (min-width: 1200px) {
        .component-list {
        gap: 19px;
        }
        .component-list li:nth-child(2) {
            order: 2;
          } 
        .component-list li:nth-child(3) {
            order: 3;
          }
          .component-list li:nth-child(4) {
            order: 4;
          }  
      
}


.component-item { 
    padding: 25px 0 0 28px;
    width: 335px;
    height: 270px; 
    border-radius: 15px;

} 

@media screen and (min-width: 768px) {
    .component-item { 
        width: 336px;
           
    }
}

@media screen and (min-width: 1200px) {
    .component-item { 
        width: 270px;
           
    }
}

#first-component{
    background-color: var(--brand-clr);
} 

#second-component,
#fourth-component{
    background-color: var(--secondary-clr);
    border: 1px solid var(--brand-clr);
} 

#third-component {
    background-color: var(--bgd-clr);
}

.component-image {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 25px;
    width: 224px;
    height: 171px;
    background-size: contain;
}
/* .component-picture{
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 25px;
    display: block;
    width: 224px;
    height: 171px;
    background-size: contain;

} */

@media screen and (min-width: 1200px) {
    .component-image {
        margin-left: 0;
        
        margin-bottom: 25px;
        width: 206px;
        height: 160px;
        background-size: contain;
    }
}


.component-name {
    font-weight: 600;
    text-transform: uppercase;
}
#first-component-text{
color: var(--secondary-clr);
}

#second-component-text{
    color: var(--primary-clr);
}

.component-overlay {
    position: absolute;
   
}
.overlay-title {
}
.overlay-component-button {
}
.overlay-bebefits-button {
}
.overlay-description {
}