.container-componets {
    padding: 72px 0;
}

@media screen and (min-width: 768px) {
    .container-componets {
        padding: 100px 0;
    }
}

@media screen and (min-width: 1200px) {
    .container-componets {
        padding: 128px 0;
    }
}

.section-title {
    max-width: 283px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
    .section-title {
        max-width: 411px;
        margin-bottom: 24px;
    }
}

.section-description {
    max-width: 283px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
    .section-description {
        max-width: 411px;
        margin-bottom: 50px;
    }
}

.component-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
   
} 

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .component-list {
    gap: 32px;
    flex-direction: row;
    }
    
    .component-list li:nth-child(2) {
      order: 3;
    }
    
    .component-list li:nth-child(3) {
      order: 4;
    }
    
    .component-list li:nth-child(4) {
      order: 2;
    }
}

    @media screen and (min-width: 1200px) {
        .component-list {
            gap: 19px;
        }
    
        .component-list li:nth-child(2) {
            order: 2;
        }
    
        .component-list li:nth-child(3) {
            order: 3;
        }
    
        .component-list li:nth-child(4) {
            order: 4;
        }
    
    }

    
.component-item { 
    width: 280px;
    height: 270px; 
    } 

@media screen and (min-width: 375px) {
    .component-item { 
    width: 335px;
    height: 270px; 
    } 
}

@media screen and (min-width: 768px) {
    .component-item { 
        width: 336px;
           
    }
}

@media screen and (min-width: 1200px) {
    .component-item { 
        width: 270px;
           
    }
}

.flip-container{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.component-item:nth-child(1) .flip-container {
    background-color: var(--brand-clr);
} 

.component-item:nth-child(2n) .flip-container{
    background-color: var(--secondary-clr);
    border: 1px solid var(--brand-clr);
} 

.component-item:nth-child(3) .flip-container{
    background-color: var(--bgd-clr);
}


.component-image {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 25px;
    width: 224px;
    height: 171px;
    background-size: contain;
}

@media screen and (min-width: 1200px) {
    .component-image {
        margin-left: 0;
        margin-bottom: 36px;
        width: 206px;
        height: 160px;
        background-size: contain;
    }
}


.component-name {
    font-weight: 600;
    text-transform: uppercase;
}

.component-item:nth-child(2n+1) .component-name{
color: var(--secondary-clr);
}

.component-item:nth-child(2n) .component-name{
    color: var(--primary-clr);
}

.component-item:hover .flip-container,
.component-item:focus .flip-container {
        transform: rotateY(180deg);
}


.front-container{
    padding: 28px 0 0 14px;
}

@media screen and (min-width: 375px) {
    .front-container{
        padding: 28px 0 0 28px;
    }
}

.front-container,
.component-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}


.component-overlay {
    padding: 28px;
    overflow: hidden;
   
    transform: rotateY(180deg);
    
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: var(--background-primary);
    background-color: var(--secondary-clr);
    border: 1px var(--secondary-clr);
   
}

.overlay-title {
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}

.overlay-component-button {
    cursor: pointer;
    margin-right: 2px;
    margin-bottom: 14px;
    padding: 6px 14px;

    font-size: 10px;
    line-height: 1.2;

    border: 1px solid var(--brand-clr);
    border-radius: 35px;
    background-color: var(--secondary-clr);
}

.overlay-bebefits-button {
    cursor: pointer;
    padding: 6px 14px;
    font-size: 10px;
    line-height: 1.2;
    border: 1px solid var(--brand-clr);
    border-radius: 35px;
    background-color: var(--secondary-clr);
}

.overlay-component-button:hover,
.overlay-component-button:focus,
.overlay-bebefits-button:hover,
.overlay-bebefits-button:focus {
    color: var(--secondary-clr);
    background-color: var(--brand-clr);
    transform: scale(1.1);
    transition-property:  transform;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


  .component-overlay .overlay-description {
    max-width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
        
  }
  
  .component-overlay .overlay-component-button:hover ~ .overlay-description,
  .component-overlay .overlay-component-button:focus ~ .overlay-description {
    display: block;
    -webkit-line-clamp: unset;
    text-overflow: unset;
    height: 214px;
    overflow: auto;
  }
  .component-overlay .overlay-component-button:hover ~ .overlay-description::-webkit-scrollbar,
  .component-overlay .overlay-component-button:focus ~ .overlay-description::-webkit-scrollbar {
    width: 4px;
    border-radius: 35px;
    background-color:var(--brand-clr);
    
  }
 
  
  