/* slik */

/*  Задати клас "responsive" на батьківський елемент (div) та огорнути необхідні елементи/картки у теги <div></div>. */

.slick-list {
  height: auto;
}

.slick-dotted.slick-slider {
  margin-bottom: 13px;
}

.slick-dots {
  bottom: -13px;
  line-height: 0.93;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 13px;
  height: 13px;
  margin: 0;
}
.slick-dots li:not(:last-child) {
  margin-right: 13px;
}

.slick-dots li button:before {
  content: '';
  display: block;
  width: 13px;
  height: 13px;
  background-color: rgba(17, 17, 17, 0.1);
  border-radius: 50%;

    transition-property: background, opacity;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 0.5;
  background-color: var(--brand-clr);
}

.slick-dots li.slick-active button:before {
  opacity: 1;
  width: 28px;
  border-radius: 6px;
  background-color: var(--brand-clr);

  transform: translate(-7px, 0);
}

/* arrov */

@media screen and (max-width: 1199px) {
  .slick-arrow {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

.slick-prev:before,
.slick-next:before {
  content: '';
  font-family: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  background-color: rgba(253, 146, 34, 0.5);
  border-radius: 50%;

  transition-property: background;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.slick-prev:before {
  content: '❮';
}

.slick-next:before {
  content: '❯';
}

.slick-prev {
  left: -30px;
}

.slick-prev,
.slick-next {
  top: 46%;
}

.slick-prev:hover.slick-prev:before,
.slick-next:hover.slick-next:before {
  background-color: var(--brand-clr);
}
