<div class="backdrop js-backdrop-modal">
  <!-- Modal Buy-now -->
  <div class="modal-buy-now modal modal1" data-modal="1">
    <h2 class="section-title modal-buy-title">
      <span class="title-brand">buy</span>now
    </h2>
    <button type="button" class="modal-buy-close js-modal-close">
      <svg class="modal-close-icon">
        <use href="./images/icon.svg#icon-close"></use>
      </svg>
    </button>

    <ul class="modal-buy-list responsive">
      <li class="modal-buy-item">
        <picture>
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/modal-buy-now/kinder-chocolate-tablet.jpg    1x,
              ./images/modal-buy-now/kinder-chocolate-tablet@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/modal-buy-now/kinder-chocolate-mobile.jpg    1x,
              ./images/modal-buy-now/kinder-chocolate-mobile@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="modal-buy-images"
            src="./images/modal-buy-now/kinder-chocolate-mobile.jpg"
            alt="chocolate pieces"
            width="167"
            height="148"
            loading="lazy"
          />
        </picture>
        <div class="modal-buy-text"><p>100g</p></div>
      </li>
      <li class="modal-buy-item">
        <picture>
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/modal-buy-now/chocolate-milk-tablet.jpg    1x,
              ./images/modal-buy-now/chocolate-milk-tablet@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/modal-buy-now/chocolate-milk-mobile.jpg    1x,
              ./images/modal-buy-now/chocolate-milk-mobile@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="modal-buy-images"
            src="./images/modal-buy-now/chocolate-milk-mobile.jpg"
            alt="white and dark chocolate"
            width="167"
            height="148"
            loading="lazy"
          />
        </picture>
        <div class="modal-buy-text"><p>200g</p></div>
      </li>
      <li class="modal-buy-item">
        <picture>
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/modal-buy-now/dark-chocolate-tablet.jpg    1x,
              ./images/modal-buy-now/dark-chocolate-tablet@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/modal-buy-now/dark-chocolate-mobile.jpg        1x,
              ./images/modal-buy-now/dark-chocolate-mobile@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="modal-buy-images"
            src="./images/modal-buy-now/dark-chocolate-mobile.jpg"
            alt="white and dark chocolate"
            width="167"
            height="148"
            loading="lazy"
          />
        </picture>
        <div class="modal-buy-text"><p>300g</p></div>
      </li>
    </ul>
    <form class="modal-form-buy">
      <div class="modal-form-wrap">
        <label for="username" class="form-buy-label"
          >Personal information</label
        >
        <div class="form-input-name-wrap">
          <input
            class="form-buy-input input-js"
            id="username"
            type="text"
            name="username"
            placeholder="Name"
            pattern="[a-zA-Z]{2,15}"
          />
          <input
            class="form-buy-input"
            type="text"
            name="usersurname"
            placeholder="Surname"
            pattern="[a-zA-Z]+"
            minlength="2"
          />
        </div>
        <label for="useremail" class="form-buy-label">Email </label>
        <input
          class="form-buy-input imput-useremail input-js"
          id="useremail"
          type="email"
          name="useremail"
          placeholder="Enter your email"
        />
        <label for="userphone" class="form-buy-label">Phone number</label>
        <div class="form-buy-phone">
          <input
            class="form-buy-input-phone form-buy-input input-js"
            id="userphone"
            type="tel"
            name="userphone"
            placeholder="Phone number"
            pattern="[0-9]{2}\-[0-9]{3}\-[0-9]{2}\-[0-9]{2}"
            maxlength="9"
            minlength="9"
          />
          <div class="form-buy-icon-wrap">
            <svg class="form-buy-icon-phone">
              <use href="./images/icon.svg#icon-flag"></use>
            </svg>
            <p class="form-buy-icon-text">+380</p>
          </div>
        </div>
        <label for="usercard" class="form-buy-label">Card number</label>
        <div class="form-buy-card">
          <input
            class="form-buy-input form-buy-input-card input-js"
            id="usercard"
            type="text"
            name="usercard"
            placeholder="Enter card"
            pattern="[0-9]{4}-[0-9]{4}-[0-9]{4}-[0-9]{4}"
            title="xxxx-xxxx-xxxx-xxxx"
          />
          <svg class="form-buy-icon-card">
            <use href="./images/icon.svg#icon-card"></use>
          </svg>
        </div>
        <label for="feedback" class="form-buy-label"> Comment </label>
        <textarea
          class="form-buy-textarea"
          name="Comment"
          id="feedback"
          placeholder="Enter text"
        ></textarea>
      </div>
      <button
        type="submit"
        disabled
        class="btn-modal-buy button-js"
      >
        Submit
      </button>
    </form>
  </div>

  <!-- Modal Explore -->
  <div class="modal-explore modal modal2" data-modal="2">
    <picture>
      <source
        media="(min-width: 768px)"
        srcset="
          ./images/modal-explore/broken-chokolate-tablet.jpg    1x,
          ./images/modal-explore/broken-chokolate-tablet@2x.jpg 2x
        "
        type="image/jpg"
      />
      <source
        media="(max-width: 767px)"
        srcset="
          ./images/modal-explore/broken-chokolate-mobile.jpg    1x,
          ./images/modal-explore/broken-chokolate-mobile@2x.jpg 2x
        "
        type="image/jpg"
      />
      <img
        class="modal-explore-images"
        src="./images/modal-explore/broken-chokolate-mobile.jpg"
        alt="broken chokolat"
        width="311"
        height="169"
        loading="lazy"
      />
    </picture>
    <button type="button" class="btn-close-explore js-modal-close">
      <svg class="close-explore-icon">
        <use href="./images/icon.svg#icon-close"></use>
      </svg>
    </button>
    <div class="container-modal-explore">
      <h2 class="section-title modal-explore-title">
        Explore our<br />
        <span class="title-brand"> new chocolate</span> first!
      </h2>
      <form>
        <span class="form-explore-wrap">
          <input
            class="modal-explore-input"
            type="email"
            name="useremail"
            placeholder="Enter your email"
            required
          />
          <button class="btn-form-explore button-js" type="submit">
            Submit
          </button></span
        >
      </form>
    </div>
  </div>

  <!-- Modal Feedback -->
  <div class="modal-feedback modal modal3" data-modal="3">
    <div class="modal-feedback-wrap">
      <h2 class="modal-feedback-title">
        thank you<br />
        for your feedback!
      </h2>
      <p class="modal-feedback-text">
        We are so happy to hear<br class="feedback-text-br" />
        from you!
      </p>
    </div>
    <button type="button" class="modal-feedback-close js-modal-close">
      <svg class="modal-feedback-icon">
        <use href="./images/icon.svg#icon-close"></use>
        <defs>
          <linearGradient id="gradient">
            <stop offset="100%" style="stop-color: #f16529" />
            <stop offset="100%" style="stop-color: #d44528" />
          </linearGradient>
        </defs>
      </svg>
    </button>

    <picture>
      <source
        media="(min-width: 768px)"
        srcset="
          ./images/modal-feedback/chocolate-mobile.png    1x,
          ./images/modal-feedback/chocolate-mobile@2x.png 2x
        "
        type="image/jpg"
      />
      <source
        media="(max-width: 767px)"
        srcset="
          ./images/modal-feedback/chocolate-mobile.png    1x,
          ./images/modal-feedback/chocolate-mobile@2x.png 2x
        "
        type="image/jpg"
      />
      <img
        class="modal-feedback-images"
        src="./images/modal-feedback/chocolate-mobile.png"
        alt="chokolate bar"
        width="296"
        height="399"
        loading="lazy"
      />
    </picture>
  </div>

  <!-- Modal review -->
  <div class="modal-review modal modal4" data-modal="4">
    <h2 class="section-title modal-review-title">
      leave a review<br class="title-br" />
      about<span class="title-brand"> our chocolate</span>
    </h2>
    <button type="button" class="btn-modal-review js-modal-close">
      <svg data-modal-rev-close class="modal-review-icon">
        <use href="./images/icon.svg#icon-close"></use>
      </svg>
    </button>

    <form class="form-review">
      <div class="form-review-wrap">
        <input
          class="form-review-input"
          type="text"
          name="username"
          placeholder="Name"
          pattern="[a-zA-Z]{2,15}"
        />

        <input
          class="form-review-input"
          type="email"
          name="useremail"
          placeholder="Enter your email"
          required
        />

        <div class="form-phone-wrap">
          <input
            class="form-review-input input-phone"
            type="tel"
            name="userphone"
            placeholder="Phone number"
            required
            pattern="[0-9]{2}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
            minlength="12"
            maxlength="12"
            title="xx-xxx-xx-xx"
          />
          <div class="form-icon-wrap">
            <svg class="form-revier-icon">
              <use href="./images/icon.svg#icon-flag"></use>
            </svg>
            <p class="form-phone-text">+380</p>
          </div>
        </div>

        <textarea
          class="form-textarea"
          name="comment"
          placeholder="Enter text"
        ></textarea>
      </div>

      <button type="submit" class="btn-primary button-js">
        Send
      </button>
    </form>
  </div>

  <!-- Modal Thank-you -->
  <div class="modal-thank-you modal modal5" data-modal="5">
    <div class="modal-thankyou-wrap">
      <h2 class="modal-thankyou-title">thank you!</h2>
      <p class="modal-thankyou-text">
        We are glad that you ordered our chocolate and we are giving you a 20%
        discount on all our products.
      </p>
    </div>
    <button type="button" class="btm-modal-thankyou js-modal-close">
      <svg class="modal-thankyou-icon">
        <use href="./images/icon.svg#icon-x"></use>
        <defs>
          <linearGradient id="gradientes">
            <stop offset="100%" style="stop-color: #f16529" />
            <stop offset="100%" style="stop-color: #d44528" />
          </linearGradient>
        </defs>
      </svg>
    </button>

    <picture>
      <source
        media="(min-width: 768px)"
        srcset="
          ./images/modal-thankyou/chocolate-tablet.png    1x,
          ./images/modal-thankyou/chocolate-tablet@2x.png 2x
        "
        type="image/jpg"
      />
      <source
        media="(max-width: 767px)"
        srcset="
          ./images/modal-thankyou/chocolate-mobile.png    1x,
          ./images/modal-thankyou/chocolate-mobile@2x.png 2x
        "
        type="image/jpg"
      />
      <img
        class="modal-thankyou-images"
        src="./images/modal-thankyou/chocolate-mobile.png"
        alt="chokolate bar"
        width="296"
        height="399"
        loading="lazy"
      />
    </picture>
  </div>
</div>
