<header>
  <div class="container header-container" id="home">
    <nav class="main-nav">
      <!-- logo -->
      <a class="logo" href="./index.html"
        >simply chocolate
        <span class="logo-item">
          <svg class="logo-icon">
            <use href="./images/icon.svg#icon-chocolate"></use>
          </svg> </span
      ></a>

      <!-- menu-hamburger -->
      <button class="menu-hamburger js-open-menu" type="button">
        <svg class="icon-menu-hamburger">
          <use href="./images/icon.svg#icon-hamburher-menu"></use>
        </svg>
      </button>

      <!-- site-nav -->
      <ul class="site-nav-list">
        <li class="site-nav-item">
          <a class="site-nav-link" href="#home">Home</a>
        </li>
        <li class="site-nav-item">
          <a class="site-nav-link" href="#how-its-made">
            How it&#8242;s made?
          </a>
        </li>
        <li class="site-nav-item">
          <a class="site-nav-link" href="#our-products">Our products</a>
        </li>
        <li class="site-nav-item">
          <a class="site-nav-link" href="#top-sellers">Top sellers</a>
        </li>
        <li class="site-nav-item">
          <a class="site-nav-link" href="#chocolate-is-loved">
            Chocolate is loved
          </a>
        </li>
      </ul>
    </nav>

    <!-- header-socials -->
    <div class="header-socials">
      <ul class="socials-list">
        <li class="socials-item">
          <a class="socials-link" href="https://www.instagram.com/">
            <svg class="socials-icon">
              <use href="./images/icon.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="socials-item">
          <a class="socials-link" href="https://www.twitter.com/">
            <svg class="socials-icon">
              <use href="./images/icon.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <!-- mobile-menu -->
    <div class="mobile-menu js-menu-container" id="mobile-menu">
      <button class="mobile-close js-close-menu" type="button">
        <svg class="mobile-close-icon">
          <use href="./images/icon.svg#icon-close"></use>
        </svg>
      </button>

      <!-- mobile-menu-nav -->

      <nav class="mobile-menu-nav">
        <ul class="mobile-nav-list">
          <li class="mobile-nav-item">
            <a class="mobile-nav-link js-close-menu" href="#home">Home</a>
          </li>
          <li class="mobile-nav-item">
            <a class="mobile-nav-link" href="#how-its-made">
              How it&#8242;s made?
            </a>
          </li>
          <li class="mobile-nav-item">
            <a class="mobile-nav-link" href="#our-products">Our products</a>
          </li>
          <li class="mobile-nav-item">
            <a class="mobile-nav-link" href="#top-sellers">Top sellers</a>
          </li>
          <li class="mobile-nav-item">
            <a class="mobile-nav-link" href="#chocolate-is-loved">
              Chocolate is loved
            </a>
          </li>
        </ul>
      </nav>

      <!-- mobile-menu-socials -->

      <div class="mobile-menu-socials">
        <ul class="mobile-socials-list">
          <li class="mobile-socials-item">
            <a class="mobile-socials-link" href="https://www.instagram.com/">
              <svg class="mobile-socials-icon">
                <use href="./images/icon.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="mobile-socials-item">
            <a class="mobile-socials-link" href="https://www.twitter.com/">
              <svg class="mobile-socials-icon">
                <use href="./images/icon.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
