<section class="hero-section">
  <div class="container">
    <div class="hero-container">
      <h1 class="visually-hidden">Hero</h1>

      <h2 class="hero-subtitle">
        Treat yourself or a loved one to <br />
        our finest ingredients for a moment of pure delight!
      </h2>

      <div class="hero-buttons-wrapper">
        <div class="hero-btn-box">
          <button type="button" class="btn-primary hero-button js-open-modal" data-modal="1">Buy now</button>
          <a class="btn-second hero-button" href="#how-its-made"
            >How it's made</a
          >
        </div>

        <div class="hero-scroll-box">
          <a class="hero-scroll-btn" href="#footer">
            scroll down
            <svg class="hero-scroll-icon">
              <use href="./images/icon.svg#icon-scroll"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
