<section class="made">
  <div class="container">
    <h2 class="section-title">How it's <span class="title-brand">made?</span></h2>
    <div class="made-wrapper-img">
      <picture class="made-img">
        <source
          srcset="
            ../images/how-its-made/hocolate-desktop.jpg    1x,
            ../images/how-its-made/hocolate-desktop@2x.jpg 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ../images/how-its-made/chocolate-tablet.jpg    1x,
            ../images/how-its-made/chocolate-tablet@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ../images/how-its-made/chocolate-mobile.jpg    1x,
            ../images/how-its-made/chocolate-mobile@2x.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <img src="../images/chocolate-mobile.jpg" alt="Chocolate creation" />
      </picture>
    </div>
    <div class="made-text-wrapper">
      <h3 class="made-text-title">
        Try our chocolates today and discover the perfect balance of flavor
      </h3>
      <ul class="made-list">
        <li class="made-item">
          Heat the milk in a saucepan without bringing it to a boil. Add sugar
          and cocoa powder.
        </li>
        <li class="made-item">
          At the same time, prepare a water bath. Melt the butter on it.
        </li>
        <li class="made-item">
          "Mix" the milk mixture and already liquid butter. Mix thoroughly with
          a silicone spatula so that the mass becomes uniform and silky.
        </li>
        <li class="made-item">
          Heat the mixture over low heat, letting it barely boil.
        </li>
        <li class="made-item">
          Pour the chocolate into special containers (can be replaced with ice
          molds). Allow to cool and harden.
        </li>
      </ul>
    </div>
  </div>
</section>
