<section class="products"  id="our-products">
  <div class="container">
    <h2 class="section-title products-title">
      Our <span class="title-brand">products</span>
    </h2>
    <ul class="produkts-list responsive gallery">
      <li class="produkts-list-item">
        <a
          class="gallery-link"
          href="./images/our-products/big/choco-1@3x-min.jpg"
        >
          <img
            class="products-img"
            srcset="
              ./images/our-products/choco-1-min.jpg    1x,
              ./images/our-products/choco-1@2x-min.jpg 2x
            "
            src="./images/our-products/big/choco-1@3x-min.jpg"
            alt="Dark chocolate"
          />
        </a>

        <div>
          <h3 class="produkts-subtitle">orange</h3>
          <p>Dark chocolate</p>
          <span class="products-price">45 UAH</span>
        </div>
      </li>
      <li class="produkts-list-item gallery">
        <a
          class="gallery-link"
          href="./images/our-products/big/choco-2@3x-min.jpg"
        >
          <img
            class="products-img"
            srcset="
              ./images/our-products/choco-2-min.jpg    1x,
              ./images/our-products/choco-2@2x-min.jpg 2x
            "
            src="./images/our-products/big/choco-2@3x-min.jpg"
            alt="Milk chocolate"
          />
        </a>

        <div>
          <h3 class="produkts-subtitle">appel & cranbery</h3>
          <p>Milk chocolate</p>
          <span class="products-price">50 UAH</span>
        </div>
      </li>
      <li class="produkts-list-item gallery">
        <a
          class="gallery-link"
          href="./images/our-products/big/choco-3@3x-min.jpg"
        >
          <img
            class="products-img"
            srcset="
              ./images/our-products/choco-3-min.jpg    1x,
              ./images/our-products/choco-3@2x-min.jpg 2x
            "
            src="./images/our-products/big/choco-3@3x-min.jpg"
            alt="Dark chocolate"
          />
        </a>

        <div>
          <h3 class="produkts-subtitle">lime & sea salt</h3>
          <p>Dark chocolate</p>
          <span class="products-price">66 UAH</span>
        </div>
      </li>
      <li class="produkts-list-item gallery">
        <a
          class="gallery-link"
          href="./images/our-products/big/choco-4@3x-min.jpg"
        >
          <img
            class="products-img"
            srcset="
              ./images/our-products/choco-4-min.jpg    1x,
              ./images/our-products/choco-4@2x-min.jpg 2x
            "
            src="./images/our-products/big/choco-4@3x-min.jpg"
            alt="Dark chocolate"
          />
        </a>

        <div>
          <h3 class="produkts-subtitle">pineapple</h3>
          <p>Dark chocolate</p>
          <span class="products-price">54 UAH</span>
        </div>
      </li>
      <li class="produkts-list-item gallery">
        <a
          class="gallery-link"
          href="./images/our-products/big/choco-5@3x-min.jpg"
        >
          <img
            class="products-img"
            srcset="
              ./images/our-products/choco-5-min.jpg    1x,
              ./images/our-products/choco-5@2x-min.jpg 2x
            "
            src="./images/our-products/big/choco-5@3x-min.jpg"
            alt="Milk chocolate"
          />
        </a>
        <div>
          <h3 class="produkts-subtitle">Classic</h3>
          <p>Milk chocolate</p>
          <span class="products-price">45 UAH</span>
        </div>
      </li>
      <li class="produkts-list-item gallery">
        <a
          class="gallery-link"
          href="./images/our-products/big/choco-6@3x-min.jpg"
        >
          <img
            class="products-img"
            srcset="
              ./images/our-products/choco-6-min.jpg    1x,
              ./images/our-products/choco-6@2x-min.jpg 2x
            "
            src="./images/our-products/big/choco-6@3x-min.jpg"
            alt="Milk chocolate"
          />
        </a>

        <div>
          <h3 class="produkts-subtitle">honey</h3>
          <p>Milk chocolate</p>
          <span class="products-price">50 UAH</span>
        </div>
      </li>
      <li class="produkts-list-item gallery">
        <a
          class="gallery-link"
          href="./images/our-products/big/choco-7@3x-min.jpg"
        >
          <img
            class="products-img"
            srcset="
              ./images/our-products/choco-7-min.jpg    1x,
              ./images/our-products/choco-7@2x-min.jpg 2x
            "
            src="./images/our-products/big/choco-7@3x-min.jpg"
            alt="Dark chocolate"
          />
        </a>

        <div>
          <h3 class="produkts-subtitle">Roasted fruits</h3>
          <p>Dark chocolate</p>
          <span class="products-price">66 UAH</span>
        </div>
      </li>
      <li class="produkts-list-item gallery">
        <a
          class="gallery-link"
          href="./images/our-products/big/choco-8@3x-min.jpg"
        >
          <img
            class="products-img"
            srcset="
              ./images/our-products/choco-8-min.jpg    1x,
              ./images/our-products/choco-8@2x-min.jpg 2x
            "
            src="./images/our-products/big/choco-8@3x-min.jpg"
            alt="White chocolate"
          />
        </a>

        <div>
          <h3 class="produkts-subtitle">Classic</h3>
          <p>White chocolate</p>
          <span class="products-price">54 UAH</span>
        </div>
      </li>
    </ul>
  </div>
</section>
