<section class="products">
  <div class="container container_produkt">
    <h2 class="section-title products-title">
      Our <span class="title-brand">products</span>
    </h2>

    <ul class="produkts-list responsive">
      <li class="produkts-list-item">
        <img
          claclass="products-img"
          ss="products-img"
          srcset="./images/choco-1-min.jpg 1x, ./images/choco-1@2x-min.jpg 2x"
          src="./images/choco-1-min.jpg"
          alt="Dark chocolate"
        />
        <div>
          <h3 class="produkts-subtitle">orange</h3>
          <p>Dark chocolate</p>
          <button type="button" class="products-btn">45 UAH</button>
        </div>
      </li>
      <li class="produkts-list-item">
        <img
          class="products-img"
          srcset="./images/choco-2-min.jpg 1x, ./images/choco-2@2x-min.jpg 2x"
          src="./images/choco-2-min.jpg"
          alt="Milk chocolate"
        />

        <div>
          <h3 class="produkts-subtitle">appel&cranbery</h3>
          <p>Milk chocolate</p>
          <button type="button" class="products-btn">50 UAH</button>
        </div>
      </li>
      <li class="produkts-list-item">
        <img
          class="products-img"
          srcset="./images/choco-3-min.jpg 1x, ./images/choco-3@2x-min.jpg 2x"
          src="./images/choco-3-min.jpg"
          alt="Dark chocolate"
        />
        <div>
          <h3 class="produkts-subtitle">lime&sea salt</h3>
          <p>Dark chocolate</p>
          <button type="button" class="products-btn">66 UAH</button>
        </div>
      </li>
      <li class="produkts-list-item">
        <img
          class="products-img"
          srcset="./images/choco-4-min.jpg 1x, ./images/choco-4@2x-min.jpg 2x"
          src="./images/choco-4-min.jpg"
          alt="Dark chocolate"
        />
        <div>
          <h3 class="produkts-subtitle">pineapple</h3>
          <p>Dark chocolate</p>
          <button type="button" class="products-btn">54 UAH</button>
        </div>
      </li>
      <li class="produkts-list-item">
        <img
          class="products-img"
          srcset="./images/choco-5-min.jpg 1x, ./images/choco-5@2x-min.jpg 2x"
          src="./images/choco-5-min.jpg"
          alt="Milk chocolate"
        />
        <div>
          <h3 class="produkts-subtitle">Classic</h3>
          <p>Milk chocolate</p>
          <button type="button" class="products-btn">45 UAH</button>
        </div>
      </li>
      <li class="produkts-list-item">
        <img
          class="products-img"
          srcset="./images/choco-6-min.jpg 1x, ./images/choco-6@2x-min.jpg 2x"
          src="./images/choco-6-min.jpg"
          alt="Milk chocolate"
        />
        <div>
          <h3 class="produkts-subtitle">honey</h3>
          <p>Milk chocolate</p>
          <button type="button" class="products-btn">50 UAH</button>
        </div>
      </li>
      <li class="produkts-list-item">
        <img
          class="products-img"
          srcset="./images/choco-7-min.jpg 1x, ./images/choco-7@2x-min.jpg 2x"
          src="./images/choco-7-min.jpg"
          alt="Dark chocolate"
        />
        <div>
          <h3 class="produkts-subtitle">Roasted fruits</h3>
          <p>Dark chocolate</p>
          <button type="button" class="products-btn">66 UAH</button>
        </div>
      </li>
      <li class="produkts-list-item">
        <img
          class="products-img"
          srcset="./images/choco-8-min.jpg 1x, ./images/choco-8@2x-min.jpg 2x"
          src="./images/choco-8-min.jpg"
          alt="White chocolate"
        />
        <div>
          <h3 class="produkts-subtitle">Classic</h3>
          <p>White chocolate</p>
          <button type="button" class="products-btn">54 UAH</button>
        </div>
      </li>
    </ul>
  </div>
</section>
