<section>
  <h2>Chocolate is loved</h2>
  <!-- Slider main container -->
  <div class="swiper">
    <!-- Additional required wrapper -->
    <ul class="swiper-wrapper">
      <!-- Slides -->
      <li class="swiper-slide">
        <img
          src="../images/reviews/Victoria.jpg"
          alt="review Victoria"
          width="80"
        />
        <h3>Victoria Dobrzhanska</h3>
        <p>
          I love this chocolate bar. Perfect combination of light crispy wafer,
          covered in a thin layer chocolate.
        </p>
      </li>

      <li class="swiper-slide">
        <img src="../images/reviews/Nazar.jpg" alt="review Nazar" width="80" />
        <h3>Nazar Babenko</h3>
        <p>
          This chocolate confection is a delight! A delight! The wafer is light
          and crisp, the hazelnut cream is smooth, and the chocolate is good.
        </p>
      </li>

      <li class="swiper-slide">
        <img src="../images/reviews/Olena.jpg" alt="review Olena" width="80" />
        <h3>Olena Kampusch</h3>
        <p>
          Chocolate is a family favourite treat. Love the delicious smooth
          chocolate and the creaminess inside. The wafer is soft but crunchy.
        </p>
      </li>

      <li class="swiper-slide">
        <img
          src="../images/reviews/Natalia.jpg"
          alt="review Natalia"
          width="80"
        />
        <h3>Natalia Sus</h3>
        <p>
          The chocolate assortment was delicious. Both dark and milk chocolate
          pieces were smooth and just right on the sweetness level.
        </p>
      </li>

      <li class="swiper-slide">
        <img
          src="../images/reviews/Danilo.jpg"
          alt="review Danilo"
          width="80"
        />
        <h3>Danilo Nottingham</h3>
        <p>
          This is delicious. It so rich and flavorful you don’t need to use as
          many. I love topping an apple with almond butter and these chips for a
          snack.
        </p>
      </li>

      <li class="swiper-slide">
        <img src="../images/reviews/Irina.jpg" alt="review Irina" width="80" />
        <h3>Irina Tydnyuk</h3>
        <p>
          This is simply the best chocolate around, and I'm just thrilled to
          support a local company! Best local chocolate - world class :)
        </p>
      </li>
    </ul>
    <!-- Pagination -->
    <div class="swiper-pagination"></div>
  </div>
  <button type="button">Leave a review</button>
</section>
