<section class="top-sellers">
  <div class="top-sellers-container container">
    <h1 class="top-sellers-title"><span>Top</span> <span>Sellers</span></h1>
    <ul class="top-sellers-list list">
      <li class="top-sellers-item">
        <picture>
          <source
            media="(min-width: 320px)"
            srcset="
              ./images/top-sellers/coffeebean-mobile.jpg    1x,
              ./images/top-sellers/coffeebean-mobile@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/top-sellers/coffeebean-tablet.jpg    1x,
              ./images/top-sellers/coffeebean-tablet@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/top-sellers/coffeebean-desktop.jpg    1x,
              ./images/top-sellers/coffeebean-desktop@2x.jpg 2x
            "
          />
          <img
            class="top-sellers-image"
            src="./images/top-sellers/coffeebean-mobile.jpg"
            alt="Chocolate and coffee beans"
          />
        </picture>
      </li>
      <li class="top-sellers-item">
        <picture>
          <source
            media="(min-width: 320px)"
            srcset="
              ./images/top-sellers/nuts-raisins-mobile.jpg    1x,
              ./images/top-sellers/nuts-raisins-mobile@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/top-sellers/nuts-raisins-tablet.jpg    1x,
              ./images/top-sellers/nuts-raisins-tablet@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/top-sellers/nuts-raisins-desktop.jpgb1x,
              ./images/top-sellers/nuts-raisins-desktop@2x.jpg 2x
            "
          />

          <img
            class="top-sellers-image"
            src="./images/top-sellers/nuts-raisins-mobile.jpg"
            alt="Chocolate with nuts and raisins"
          />
        </picture>
      </li>
      <li class="top-sellers-item">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/top-sellers/chocolate-sweet-desktop.jpg    1x,
              ./images/top-sellers/chocolate-sweet-desktop@2x.jpg 2x
            "
          />
          <img
            class="top-sellers-image"
            src="./images/top-sellers/chocolate-sweet-desktop.jpg"
            alt="Chocolate with chocolate sweet on top"
          />
        </picture>
      </li>
    </ul>
    <div class="top-sellers-box">
      <p class="top-sellers-text">
        Crazy enough chocolate originates from a bean just like the coffee bean
        called Cacao. Cacao has been around for thousands of years and was first
        discovered by the Native American tribe called the Mayans.
      </p>
      <button type="button" class="top-sellers-button button"></button>
    </div>
  </div>
</section>
