<section class="section">
  <div class="container container-componets">
    <h2 class="section-title">
      it all adds up to one exeptional
      <span class="title-brand">taste</span> sensation
    </h2>
    <p class="section-description">
      At Simply Chocolate, we believe that the secret to exceptional chocolate
      is in the details. From the sourcing of the finest ingredients to the
      careful crafting of each individual piece, every step of our process adds
      up to one exceptional taste sensation.
    </p>
    <ul class="component-list">
      <li class="component-item">
        <div class="flip-container"><div class="front-container"><picture class="component-picture">
          <!-- Зображення за замовчуванням для десктопів -->
          <source srcset="
              ./images/unique-components/milk-chocolate-desctop.png 1x,
              ./images/unique-components/milk-chocolate-desctop@2x.png 2x
            " media="(min-width: 1200px)" />
          <!-- Зображення для мобільних пристроїв та планшетів -->
          <source srcset="
              ./images/unique-components/milk-chocolate-tablet-mobile.png 1x,
              ./images/unique-components/milk-chocolate-tablet-mobile@2x.png 2x
            " media="(max-width: 1199px)" />
          <!-- Зображення за замовчуванням -->
          <img src="./images/unique-components/milk-chocolate-tablet-mobile.png" alt="milk chocolate"
            class="component-image" width="224" height="171" />
        </picture>
        <p class="component-name" >milk chokolate</p>
        </div><div class="component-overlay">
          <p class="overlay-title">milk chokolate</p>
          <button type="button" class="overlay-component-button">chocolate</button>
          <button type="button" class="overlay-bebefits-button">the benefits</button>
          <p class="overlay-description">
           Milk chocolate is a solid chocolate confectionery containing cocoa,
            sugar and milk. It is the most consumed type of chocolate. Chocolate
            was originally sold and consumed as a beverage in pre-Columbian
            times. Although four-fifths of all milk chocolate is sold in the
            United States and Europe, increasingly large amounts are consumed in
            China and Latin America. 
            <br/><br/><br/><br/><br/><br/>
          </p>
        </div></div>
      </li>
      <li class="component-item" >
       <div class="flip-container"> <div class="front-container"><picture>
        <!-- Зображення за замовчуванням для десктопів -->
        <source srcset="
            ./images/unique-components/milk-desctop.png 1x,
            ./images/unique-components/milk-desctop@2x.png 2x
          " media="(min-width: 1200px)" />
        <!-- Зображення для мобільних пристроїв та планшетів -->
        <source srcset="
            ./images/unique-components/milk-tablet-mobile.png 1x,
            ./images/unique-components/milk-tablet-mobile@2x.png 2x
          " media="(max-width: 1199px)" />
        <!-- Зображення за замовчуванням -->
        <img src="./images/unique-components/milk-desctop.png" alt="milk" class="component-image" width="224"
          height="171" />
      </picture>
      <p class="component-name">milk</p>
      </div><div class="component-overlay">
        <p class="overlay-title">milk</p>
        <button type="button" class="overlay-component-button">milk</button>
        <button type="button" class="overlay-bebefits-button">the benefits</button>
        <p class="overlay-description">
          Milk is a white liquid food produced by the mammary glands of
          mammals. It is the primary source of nutrition for young mammals
          (including breastfed human infants) before they are able to digest
          solid food.Early-lactation milk, which is called colostrum, contains
          antibodies that strengthen the immune system, and thus reduces the
          risk of many diseases. Milk contains many nutrients, including
          protein and lactose.
          <br/><br/><br/><br/><br/><br/>
        </p>
      </div></div>
      </li>
      <li class="component-item">
        <div class="flip-container"><div class="front-container"><picture>
          <!-- Зображення за замовчуванням для десктопів -->
          <source srcset="
              ./images/unique-components/nuts-desctop.png    1x,
              ./images/unique-components/nuts-desctop@2x.png 2x
            " media="(min-width: 1200px)" />
          <!-- Зображення для мобільних пристроїв та планшетів -->
          <source srcset="
              ./images/unique-components/nuts-tablet-mobile.png 1x,
              ./images/unique-components/nuts-tablet-mobile@2x.png 2x
            " media="(max-width: 1199px)" />
          <!-- Зображення за замовчуванням -->
          <img src="./images/unique-components/nuts-tablet-mobile.png" alt="nuts" class="component-image" width="224"
            height="171" />
        </picture>
        <p class="component-name" >nuts</p>
        </div><div class="component-overlay">
          <p class="overlay-title">nuts</p>
          <button type="button" class="overlay-component-button">nuts</button>
          <button type="button" class="overlay-bebefits-button">the benefits</button>
          <p class="overlay-description">
            Almonds, pistachios, and walnuts are some types of nuts that contain
            healthy nutrients. When eaten as part of a nutrient-dense diet,
            these 9 nuts may offer benefits such as reducing your risk of heart
            disease. They&#39;re a good source of fiber, healthy fats, and plant
            protein. Plus, they&#39;re great on their own, paired with fruit, or
            added to dishes like salads, desserts, and grains.
            <br/><br/><br/><br/><br/><br/>
          </p>
        </div></div>
      </li>
      <li class="component-item">
        <div class="flip-container"><div class="front-container"><picture>
          <!-- Зображення за замовчуванням для десктопів -->
          <source srcset="
              ./images/unique-components/semi-sweet-chocolate-desctop.png 1x,
              ./images/unique-components/semi-sweet-chocolate-desctop@2x.png 2x
            " media="(min-width: 1200px)" />
          <!-- Зображення для мобільних пристроїв та планшетів -->
          <source srcset="
              ./images/unique-components/semi-sweet-chocolate-tablet-mobile.png 1x,
              ./images/unique-components/semi-sweet-chocolate-tablet-mobile@2x.png 2x
            " media="(max-width: 1199px)" />
          <!-- Зображення за замовчуванням -->
          <img src="./images/unique-components/semi-sweet-chocolate-tablet-mobile.png" alt="semi sweet chocolate drops"
            class="component-image" width="224" height="171" />
        </picture>
        <p class="component-name">semi-sweet chokolate</p>
        </div><div class="component-overlay">
          <p class="overlay-title">sweet chokolate</p>
          <button type="button" class="overlay-component-button">sweet chocolate</button>
          <button type="button" class="overlay-bebefits-button">the benefits</button>
          <p class="overlay-description">
            Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One of
            the best ways to gain an understanding of this type of chocolate is
            to compare it to a different type of chocolate. Semisweet is darker
            than milk chocolate. In a taste comparison, it has a slightly bitter
            taste whereas milk chocolate is sweeter and more mellow. This
            delectable flavor of chocolate is very versatile.
            <br/><br/><br/><br/><br/><br/>
          </p>
        </div></div>
      </li>
    </ul>
  </div>
</section>